<a href="https://colab.research.google.com/github/Sheila-otuko/machine_learning_practice/blob/main/sklearn_Multiple_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
path = '/content/drive/MyDrive/1.02. Multiple linear regression.csv'
data = (path)

In [7]:
data = pd.read_csv(path)
data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [8]:
data.describe()

               SAT  Rand 1,2,3        GPA
count    84.000000   84.000000  84.000000
mean   1845.273810    2.059524   3.330238
std     104.530661    0.855192   0.271617
min    1634.000000    1.000000   2.400000
25%    1772.000000    1.000000   3.190000
50%    1846.000000    2.000000   3.380000
75%    1934.000000    3.000000   3.502500
max    2050.000000    3.000000   3.810000

create the multiple linear regression

In [14]:
x = data[['SAT', 'Rand 1,2,3']]
y = data['GPA']

In [15]:
reg = LinearRegression()
reg.fit(x,y)

LinearRegression()

In [18]:
reg.coef_

array([ 0.00165354, -0.00826982])

In [19]:
reg.intercept_

0.29603261264909486

calculating r squared

In [20]:
reg.score(x,y)

0.40668119528142843

formula for R-squared

R2 = 1 – [(1-R2)*(n-1)/(n-k-1)]

In [21]:
x.shape

(84, 2)

In [25]:
r2 = reg.score(x,y)
n = x.shape[0]
p = x.shape[1]
adjusted_r2 = 1 - (1 - r2)*(n - 1)/(n - p - 1)
adjusted_r2

0.39203134825134023

Feature selection with F-regression

In [26]:
from sklearn.feature_selection import f_regression

In [28]:
f_regression(x,y)

(array([56.04804786,  0.17558437]), array([7.19951844e-11, 6.76291372e-01]))

In [29]:
p_values = f_regression(x,y)[1]
p_values

array([7.19951844e-11, 6.76291372e-01])

p values are only useful if they are less than 0.05

In [30]:
p_values.round(3)

array([0.   , 0.676])

creating a summary table

In [34]:
reg_summary = pd.DataFrame(data = ['SAT', 'Rand 1,2,3'], columns=['Features'])
reg_summary = pd.DataFrame(data = x.columns.values, columns=['Feautures'])
reg_summary

    Feautures
0         SAT
1  Rand 1,2,3

In [36]:
reg_summary ['Coefficients'] = reg.coef_
reg_summary ['p_values'] = p_values.round(3)
reg_summary

    Feautures  Coefficients  p_values
0         SAT      0.001654     0.000
1  Rand 1,2,3     -0.008270     0.676

Feature selection through feature scaling (standardization?

In [38]:
from sklearn.preprocessing import StandardScaler

In [40]:
scaler = StandardScaler()

standardization subtracts the mean and divides by the standard deviation

In [43]:
scaler.fit(x)
#calculates the mean and standard deviation

StandardScaler()

In [44]:
x_scaled = scaler.transform(x)

In [45]:
x_scaled

array([[-1.26338288, -1.24637147],
       [-1.74458431,  1.10632974],
       [-0.82067757,  1.10632974],
       [-1.54247971,  1.10632974],
       [-1.46548748, -0.07002087],
       [-1.68684014, -1.24637147],
       [-0.78218146, -0.07002087],
       [-0.78218146, -1.24637147],
       [-0.51270866, -0.07002087],
       [ 0.04548499,  1.10632974],
       [-1.06127829,  1.10632974],
       [-0.67631715, -0.07002087],
       [-1.06127829, -1.24637147],
       [-1.28263094,  1.10632974],
       [-0.6955652 , -0.07002087],
       [ 0.25721362, -0.07002087],
       [-0.86879772,  1.10632974],
       [-1.64834403, -0.07002087],
       [-0.03150724,  1.10632974],
       [-0.57045283,  1.10632974],
       [-0.81105355,  1.10632974],
       [-1.18639066,  1.10632974],
       [-1.75420834,  1.10632974],
       [-1.52323165, -1.24637147],
       [ 1.23886453, -1.24637147],
       [-0.18549169, -1.24637147],
       [-0.5608288 , -1.24637147],
       [-0.23361183,  1.10632974],
       [ 1.68156984, -1.24637147],
       [-0.4934606 , -0.07002087],
       [-0.73406132, -1.24637147],
       [ 0.85390339, -1.24637147],
       [-0.67631715, -1.24637147],
       [ 0.09360513,  1.10632974],
       [ 0.33420585, -0.07002087],
       [ 0.03586096, -0.07002087],
       [-0.35872421,  1.10632974],
       [ 1.04638396,  1.10632974],
       [-0.65706909,  1.10632974],
       [-0.13737155, -0.07002087],
       [ 0.18984542,  1.10632974],
       [ 0.04548499, -1.24637147],
       [ 1.1618723 ,  1.10632974],
       [-1.37887123, -1.24637147],
       [ 1.39284898, -1.24637147],
       [ 0.76728713, -0.07002087],
       [-0.20473975, -0.07002087],
       [ 1.06563201, -1.24637147],
       [ 0.11285319, -1.24637147],
       [ 1.28698467,  1.10632974],
       [-0.41646838,  1.10632974],
       [ 0.09360513, -1.24637147],
       [ 0.59405462, -0.07002087],
       [-2.03330517, -0.07002087],
       [ 0.32458182, -1.24637147],
       [ 0.40157405, -1.24637147],
       [-1.10939843, -0.07002087],
       [ 1.03675993, -1.24637147],
       [-0.61857297, -0.07002087],
       [ 0.44007016, -0.07002087],
       [ 1.14262424, -1.24637147],
       [-0.35872421,  1.10632974],
       [ 0.45931822,  1.10632974],
       [ 1.88367444,  1.10632974],
       [ 0.45931822, -1.24637147],
       [-0.12774752, -0.07002087],
       [ 0.04548499,  1.10632974],
       [ 0.85390339, -0.07002087],
       [ 0.15134931, -0.07002087],
       [ 0.8250313 ,  1.10632974],
       [ 0.84427936,  1.10632974],
       [-0.64744506, -1.24637147],
       [ 1.24848856, -1.24637147],
       [ 0.85390339,  1.10632974],
       [ 1.69119387,  1.10632974],
       [ 1.6334497 ,  1.10632974],
       [ 1.46021718, -1.24637147],
       [ 1.68156984, -0.07002087],
       [-0.02188321,  1.10632974],
       [ 0.87315144,  1.10632974],
       [-0.33947615, -1.24637147],
       [ 1.3639769 ,  1.10632974],
       [ 1.12337618, -1.24637147],
       [ 1.97029069, -0.07002087]])

regression with scaled features

In [46]:
reg = LinearRegression()
reg.fit(x_scaled, y)

LinearRegression()

In [47]:
reg.coef_

array([ 0.17181389, -0.00703007])

In [48]:
reg.intercept_

3.330238095238095

creating a summary table

In [55]:
reg_summary = pd.DataFrame([['bias'], ['SAT'], ['Rand 1,2,3']], columns = ['Features'])
reg_summary['weights'] = reg.intercept_, reg.coef_[0], reg.coef_[1]
#bias is is the intercept

In [56]:
reg_summary
#the bigger the weight the bigger the impact

     Features   weights
0        bias  3.330238
1         SAT  0.171814
2  Rand 1,2,3 -0.007030

predictions with standardized values

In [60]:
new_data = pd.DataFrame(data = [[ 1700, 2], [1800, 1]], columns = ['SAT', 'Rand 1,2,3'])

In [61]:
new_data

    SAT  Rand 1,2,3
0  1700           2
1  1800           1

In [62]:
reg.predict(new_data)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

array([295.39979563, 312.58821497])

In [64]:
new_data_scaled = scaler.transform(new_data)
new_data_scaled

array([[-1.39811928, -0.07002087],
       [-0.43571643, -1.24637147]])

In [65]:
reg.predict(new_data_scaled)

array([3.09051403, 3.26413803])

removing the rand 1,2,3 variable

In [68]:
reg_simple = LinearRegression()
x_simple_matrix = x_scaled[:,0].reshape(-1,1)
reg_simple.fit(x_simple_matrix, y)

LinearRegression()

In [72]:
reg_simple.predict(new_data_scaled[:,0].reshape(-1,1))

array([3.08970998, 3.25527879])